<!DOCTYPE html>
<!--suppress HtmlUnknownTag, XmlUnboundNsPrefix, HtmlUnknownAttribute, CheckEmptyScriptTag, HtmlUnknownTarget -->
<html lang="ru">
<head>
    <title>Настройки</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./media/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
    <v-app>
        <v-app-bar app>
            <v-toolbar-title>Настройки</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn href="/settings" text>Настройки</v-btn>
            <v-btn href="/wishList" text>Желания</v-btn>
        </v-app-bar>
        <v-content>
            <v-container>
                <span class="title">Токены и донаты</span>
                <v-row>
                    <v-col cols="12" sm="4">
                        <v-text-field
                                :append-icon="tokenShow ? 'visibility' : 'visibility_off'"
                                :rules="[rules.required]"
                                :type="tokenShow ? 'text' : 'password'"
                                v-model="token"
                                hint="Токен DonationAlerts"
                                label="Токен"
                                @click:append="tokenShow = !tokenShow"
                        />
                    </v-col>
                    <v-col cols="12" sm="4">
                        <v-text-field
                                type="number"
                                :rules="[rules.required]"
                                v-model="goal"
                                hint="Общий донатгол"
                                label="Донатгол"
                        />
                    </v-col>
                    <v-col cols="12" sm="4">
                        <v-text-field
                                type="number"
                                :rules="[rules.required]"
                                v-model="royalGoal"
                                hint="Сумма доната для дорогих заданий"
                                label="Дорогой донатгол"
                        />
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" class="text-right">
                        <v-btn tile outlined @click="saveData()">Сохранить</v-btn>
                    </v-col>
                </v-row>
                <v-divider></v-divider>
                <span class="title">Задания</span>
                <v-row>
                    <v-col cols="12">
                        <v-chip
                                close
                                v-for="(wish, index) in actions"
                                @click:close="deleteWish(index)"
                                :key="index"
                                class="ma-1"
                        >
                            {{wish}}
                        </v-chip>
                    </v-col>
                    <v-col cols="12" sm="4">
                        <v-text-field v-model="newWish" label="Новое задание"/>
                    </v-col>
                    <v-col cols="12" sm="8">
                        <v-btn tile outlined @click="addWish()">Добавить в список</v-btn>
                        <v-btn tile outlined @click="saveActions()">Сохранить список</v-btn>
                    </v-col>
                </v-row>
                <v-divider></v-divider>
                <span class="title">Дорогие задания</span>
                <v-row>
                    <v-col cols="12">
                        <v-chip
                                close
                                v-for="(wish, index) in royalActions"
                                @click:close="deleteWish(index)"
                                :key="index"
                                class="ma-1"
                        >
                            {{wish}}
                        </v-chip>
                    </v-col>
                    <v-col cols="12" sm="4">
                        <v-text-field v-model="newRoyalWish" label="Новое дорогое задание"/>
                    </v-col>
                    <v-col cols="12" sm="8">
                        <v-btn tile outlined @click="addWish()">Добавить в список дорогих</v-btn>
                        <v-btn tile outlined @click="saveRoyalActions()">Сохранить список дорогих</v-btn>
                    </v-col>
                </v-row>
                <v-snackbar v-model="snackbar" :timeout="1500" right color="success">Сохранено</v-snackbar>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify({theme: {dark: true}}),
        data: () => ({
            token: "",
            goal: 500,
            actions: [],

            royalGoal: 2500,
            royalActions: [],

            tokenShow: false,
            snackbar: false,
            newWish: "",
            newRoyalWish: "",
            rules: {required: value => !!value || 'Введи!!!'}
        }),
        mounted() {
            axios.get('/data').then(response => {
                this.token = response.data.token;
                this.goal = response.data.goal;
                this.royalGoal = response.data.royalGoal;
                this.actions = response.data.actions;
                this.royalActions = response.data.royalActions;
            });
        },
        methods: {
            deleteWish(index) {
                this.actions.splice(index, 1)
            },
            addWish() {
                if (!!this.newWish) {
                    this.actions.push(this.newWish);
                    this.newWish = "";
                }
            },
            saveData() {
                axios.post("/saveData", {token: this.token, goal: this.goal, royalGoal: this.royalGoal});
                this.snackbar = true
            },
            saveActions() {
                axios.post("/saveActions", this.actions);
                this.snackbar = true
            },
            saveRoyalActions() {
                axios.post("/saveRoyalActions", this.royalActions);
                this.snackbar = true
            }
        }
    })
</script>
</body>
</html>