<!DOCTYPE html>
<!--suppress HtmlUnknownTag, XmlUnboundNsPrefix, HtmlUnknownAttribute, CheckEmptyScriptTag, HtmlUnknownTarget -->
<html lang="ru">
<head>
    <title>Настройки</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="./media/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="../css/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
    <v-app>
        <v-app-bar app>
            <v-toolbar-title>Настройки</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-btn tile>Настройки</v-btn>
                <v-btn href="/wishList" text>Желания</v-btn>
            </v-toolbar-items>
        </v-app-bar>
        <v-content>
            <v-container>
                <v-form v-model="settingsForm" ref="settingsForm">
                    <v-row>
                        <v-col cols="12" sm="4">
                            <v-text-field
                                    :append-icon="tokenShow ? 'mdi-eye' : 'mdi-eye-off'"
                                    :rules="[rules.required]"
                                    :type="tokenShow ? 'text' : 'password'"
                                    v-model="token"
                                    hint="Токен DonationAlerts"
                                    label="Токен"
                                    @click:append="tokenShow = !tokenShow"
                            />
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-text-field
                                    type="number"
                                    :rules="[rules.required]"
                                    v-model="goal"
                                    hint="Общий донатгол"
                                    label="Донатгол"
                            />
                        </v-col>
                        <v-col cols="12" sm="4">
                            <v-text-field
                                    type="number"
                                    :rules="[rules.required]"
                                    v-model="royalGoal"
                                    hint="Сумма доната для дорогих заданий"
                                    label="Дорогой донатгол"
                            />
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            <v-combobox
                                    flat
                                    :rules="[rules.wish]"
                                    v-model="actions"
                                    label="Задания"
                                    append-icon
                                    multiple
                                    small-chips
                                    deletable-chips
                                    no-data-text="Заданий пока нет"
                            />
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            <v-combobox
                                    flat
                                    :rules="[rules.wish]"
                                    v-model="royalActions"
                                    label="Дорогие задания"
                                    append-icon
                                    multiple
                                    small-chips
                                    color="secondary"
                                    deletable-chips
                                    no-data-text="Дорогих заданий пока нет"
                            />
                        </v-col>
                    </v-row>
                    <v-divider></v-divider>
                    <v-row>
                        <v-col cols="12" class="text-right">
                            <v-btn tile outlined @click.prevent="save()">Сохранить</v-btn>
                        </v-col>
                    </v-row>
                </v-form>
                <v-snackbar v-model="success" :timeout="1500" right color="success">Сохранено</v-snackbar>
                <v-snackbar v-model="error" :timeout="2000" right color="error">Не сохранено</v-snackbar>
            </v-container>
        </v-content>
    </v-app>
</div>

<script src="../js/axios.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/vuetify.js"></script>
<script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify({theme: {dark: true, themes: {dark: {secondary: '#ffd700'}}}}),
        data: () => ({
            settingsForm: false,
            token: "",
            goal: 500,
            actions: [],

            royalGoal: 2500,
            royalActions: [],

            tokenShow: false,
            success: false,
            error: false,
            rules: {
                required: value => !!value || 'Это поле обязательное!',
                wish: value => !!value.length || 'Должно быть хотя бы одно желание!!'
            }
        }),
        mounted() {
            axios.get('/get').then(response => {
                this.token = response.data.token;
                this.goal = response.data.goal;
                this.royalGoal = response.data.royalGoal;
                this.actions = response.data.actions;
                this.royalActions = response.data.royalActions;
            });
        },
        methods: {
            save() {
                if (this.settingsForm) {
                    let token = this.token;
                    let goal = this.goal;
                    let royalGoal = this.royalGoal;
                    let actions = this.actions;
                    let royalActions = this.royalActions;
                    axios
                        .post('/save', {token, goal, royalGoal, actions, royalActions})
                        .then(() => this.success = true, () => this.error = true);
                } else this.$refs.settingsForm.validate()
            }
        }
    })
</script>
</body>
</html>